body{
  margin: 0;
}

@font-face {
  font-family: Open Sans;
	src: url(../fonts/OpenSans-bold.woff);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

.header {
  max-width: 1660px;
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-logo-menu {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
}

.logo {
  width: 180px;
}

.menu {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}

.menu-item {
  font-family: 'Open Sans';
  font-weight: normal;
  padding-left: 35px;
  font-size: 13px;
  color: #ffffff;
}

.menu-item-link {
  color: #ffffff;
  text-decoration: none;
}

.menu-tablet {
  display: none;
  border-bottom: 13px double #ffffff; 
  border-top: 4px solid #ffffff; 
  height: 4px; 
  width: 24px;
  padding: 0;
  position: absolute;
  right: 35px;
  top: 50px;
}

.header-title {
  width: 680px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 45px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 140px auto 0;
  padding-bottom: 145px;
}

/*TRENGS*/

.section-trends {
  max-width: 1660px;
}

.trends-title,
.popup-title {
  font-family: 'Open Sans';
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  padding-top: 64px;
  margin: 0 auto 43px;
  font-size: 20px;
}

.trends {
  display: flex;
}

.trend {
  position: relative;
  flex: 1 1 35%;
  display: flex;
  margin-left: 4px;
  height: 320px;
}

.trend:first-child {
  margin-left: 0;
}

.trend::before {
  content: "";
  position: absolute;
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.trend1 {
  background: url(../images/trend1.jpg);
  background-size: cover;
}

.trend2 {
  background: url(../images/trend2.jpg) center;
  background-size: cover;
}

.trend3 {
  background: url(../images/trend3.jpg) center;
  background-size: cover;
}

.trend4 {
  background: url(../images/trend4.jpg) center;
  background-size: cover;
}

.trend-link-text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 13% 17%;
  margin-top: auto;
  outline: 3px solid #918153;
  outline-offset: 25px;
  z-index: 1;
}

.trend-link {
  margin-top: auto;
}

.trend-link-item {
  color: #918153;
}

.trend-text {
  color: #ffffff;
  font-size: 5%;
  text-decoration: none;
}

/*MAIN*/

.content {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  padding: 65px 15px 0;
  margin: 0 auto;
}

.main {
  width: 65%;
  margin-right: 120px;
}

.article {
  display: flex;
  padding-top: 60px;
}

.article:first-child {
  padding-top: 0;
}

.article-image {
  max-width: 380px;
}

.article-content {
  padding-left: 30px;
}

.article-link,
.trend-link {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.link,
.trend-link-item {
  color: #b59f5b;
  text-transform: uppercase;
  font-size: 14px;
  padding-right: 20px;
  font-family: 'Open Sans';
  font-weight: bold;
  text-decoration: none;
}

.article-title,
.trend-text {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.title-link {
  text-decoration: none;
  color: #0f0d0e;
}

.data {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 12px;
  color: #cfcfcf;
  padding-right: 15px;
}

.author {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  text-transform: capitalize;
}

.article-text {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
  text-transform: capitalize;
  margin: 27px 0;
}

/*ASIDE*/

.aside {
  width: 270px;

}

.aside-title::after,
.widget-title::after,
.tags-title::after,
.list-title::after,
.trends-title::after,
.popup-title::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 3px;
    border-bottom: solid;
    color: #e1d9bd;
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

.aside-title,
.widget-title,
.tags-title,
.list-title,
.aside-section-title {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.aside-article {
  display: flex;
  padding-top: 25px;
}

.aside-article:first-child {
  padding-top: 50px;
}

.aside-image {
  max-width: 70px;
  align-self: flex-start;
}

.aside-content {
  padding-left: 20px;
}

.aside-section-title {
  text-align: start;
}

.search {
  display: flex;
  padding-top: 60px;
  box-sizing: border-box;
}

.search-text:focus,
.search-btn:focus,
.widget-text:focus,
.widget-btn:focus,
.tags-link:focus,
.field:focus,
.popup-textarea:focus,
.form-x:focus {
  outline: 3px solid #b59f5b;
  outline-offset: -1px;
}

.search-text {
  font-family: 'Open Sans';
  font-weight: normal;
  height: 50px;
  width: 220px;
  font-size: 13px;
  padding-left: 20px;
  background-color: #f4f7f6;
  border: none;
}

.search-btn {
  position: relative;
  width: 50px;
  border: none;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.widget-title {
  padding-top: 65px;
  padding-bottom: 15px;
}

.widget-text {
  font-family: 'Open Sans';
  font-weight: normal;
  height: 50px;
  width: 270px;
  font-size: 13px;
  padding-left: 20px;
  background-color: #f4f7f6;
  border: none;
  margin-top: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.widget-btn {
  background-color: #b59f5b;
  border: none;
  width: 270px;
  height: 50px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

/*TAGS*/

.tags {
  padding-top: 60px;
}

.tags-title {
  padding-bottom: 30px;
}

.aside-tags-link {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.tags-link {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  border: 3px solid #ededed;
  line-height: 3.3;
  padding: 5px 13px;
  margin-right: 5px;
}

.list {
  padding-top: 65px;
  position: relative;
}

.topics-list-link {
  padding-top: 30px;
  padding-left: 0;
  list-style-type: none;
}

.topics-link {
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 16px;
}

.topics-link:nth-child(n+2) {
  padding-top: 20px;
}

.list-link {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #0f0d0e;
  text-transform: capitalize;
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 16px;
}

.number-link {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
  padding-bottom: 7px;
  padding-left: 8px;
  vertical-align: top;
}

/*SECTION BOX*/

.section_box {
  padding: 65px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.box_row_content_title,
.box_row_btn_price2,
.box_row_btn_price1 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.box {
  display: flex;
  margin: 50px 0 66px;
  justify-content: space-around;
}



.box_row_content {
  outline: 3px solid #d3c59d;
  outline-offset: 25px;
  padding-top: 10px;
  height: 50%;
  max-width: 300px;
}

.box_row_content_lead_link {
  color: #bfac71;
  text-decoration: none;
}

.box_row_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.box_row_btn_price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box_row_btn_price1 {
  font-size: 14px;
  text-decoration: line-through;
}

.box-btn {
  width: 140px;
  height: 50px;
}

/*FOOTER*/

.footer-socials {
  text-align: center;
  max-width: 1200px;
  padding: 0 15px 50px;
  margin: 0 auto;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f7f6;
}

.socials-item:nth-child(n+2) {
  padding-left: 30px;
}

.socials-link {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: auto;
  background-color: #ffffff0d;
  display: block;
}

.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
  position: relative;
  z-index: 1;
}

.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
  position: relative;
  z-index: 1;
}

.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
  background-size: 20px;
  position: relative;
  z-index: 1;
}

.socials-link-instagram {
  background-image: url(../svg/005-instagram.svg);
  position: relative;
  z-index: 1;
}

.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
  position: relative;
  z-index: 1;
}

.footer-text {
  font-family: 'Open Sans';
  font-weight: bold;
  display: block;
  font-size: 12px;
  color: #999999;
  padding-top: 105px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.footer-text-llc {
  text-transform: uppercase;
}

/*POPUP*/

.form {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgb(0 0 0 / 60%);
  position: fixed;
  top: 0px;
  z-index: 1;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 13px;
}

.popup {
  position: relative;
  max-width: 390px;
  margin: 2% auto;
  background-color: #ffffff;
  padding: 54px 30px 54px 30px;
  display: flex;
  flex-wrap: wrap;
}

.form-x {
  background-image: url(../svg/form-x.svg);
  width: 18px;
  height: 18px;
  border: none;
  background-color: #80808000;
  position: absolute;
  top: -20px;
  right: 0;
}

.popup-title {
  margin: 0 auto 40px;
  padding-top: 0;
}

.form-popup-text {
  margin-bottom: 34px;
  display: flex;
  flex-wrap: wrap;
}

.form-popup-text:last-child {
  margin-bottom: 27px;
}

.popup-text {
  width: 100%;
  margin-bottom: 10px;
  line-height: 1.6;
}

.field {
  width: 100%;
  height: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 20px;
  padding-right: 35px;
  background-color: #f3f7f6;
  border: none;
  color: #7f8180;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 14px center;
  font-size: 14px;
}

.popup-radio {
  display: none;
}

.popup-radio:checked + .radio-label {
  background-image: url(../svg/form-circle.svg);
}

.radio-label {
  background-image: url(../svg/form-empty-circle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

.popup-radio-text {
  margin-left: 4px;
  margin-right: 16px;
  text-transform: capitalize;
  vertical-align: middle;
}

.popup-textarea {
  width: 100%;
  max-height: 130px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 25px;
  padding-top: 25px;
  background-color: #f3f7f6;
  border: none;
  color: #7f8180;
  font-size: 14px;
}

.form-popup-btn {
  width: 100%;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .menu {
    display: none;
  }

  .menu-tablet {
    display: block;
  }

  .trends-title {
    padding-top: 50px;
    margin: 0 auto 35px;
  }

  .trends {
    flex-wrap: wrap;
  }

  .trend {
    width: 48%;
  }

  .trend:nth-child(1n+3) {
    margin-top: 4px;
  }

  .trend:nth-child(3) {
    margin-left: 0;
  }

  .content {
    max-width: 768px;
    padding: 50px 35px 0;
  }

  .main {
    margin-right: 35px;
  }

  .article {
    display: flex;
    flex-wrap: wrap;
  }

  .article-content {
    width: 100%;
    padding-left: 0;
  }

  .section_box {
    margin-left: 35px;
    margin-right: 35px;
  }

  .box {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  .box_row {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
  }

  .box_row:last-child {
    margin: 9% 52% 0 0;
  }

  .box_row:nth-child(2) {
    margin-left: 35px;
  } 

  .form-x {
    width: 28px;
    height: 28px;
    top: -30px;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
  }

  .logo-link {
    width: 100%;
  }

  .logo {
    margin: 0 auto;
    display: flex;
    padding-top: 225px;
    width: 75%;
  }

  .menu {
    display: none;
  }

  .menu-tablet {
    display: block;
    right: 15px;
    top: 30px;
  }

  .header-title {
    margin: 44px auto 0;
    font-size: 24px;
    width: 100%;
  }

  .trends-title {
    padding-top: 46px;
    margin: 0 auto 40px;
  }

  .trends {
    flex-direction: column;
  }

  .trend {
    margin-bottom: 4px;
    margin-left: 0;
  }

  .trend:last-child {
    margin-bottom: 0;
  }

  .trend-link-text {
    margin: 25% 13% 10%;
    height: fit-content;
  }
  
  .trend-link {
    margin-top: 0;
  }

  .trend-link-item {
    font-size: 14px;
  }

  .trend-text {
    font-size: 16px;
  }

  .content {
    flex-direction: column;
    padding-top: 45px;
  }

  .main,
  .aside {
    width: 100%;
  }

  .article {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }

  .article::after {
    content: "";
    width: 100%;
    height: 3px;
    border-bottom: solid;
    color: #e1d9bd;
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
  }

  .article-image {
    min-width: 100%;
  }

  .article-content {
    padding: 0;
  }

  .search-text,
  .label-search,
  .widget-text,
  .widget-btn {
    width: 100%;
  }

  .section_box {
    padding: 45px 50px 0;
  }

  .box_row_content_title {
    font-size: 16px;
  }

  .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .box_row_img {
    width: 100%;
  }

  .box_row_content {
    margin-bottom: 55px;
    min-width: 100%;
  }

  .box-btn {
    width: 39%;
  }

  .form-x {
    width: 24px;
    height: 24px;
    top: -30px;
  }
}